<div id="container">
    <div class="content">
        <img src="../../assets/images/Graph.png" alt="inventory manager" />
    </div>
    <div class="content head">
        Get Started with <span style="color: #5570f1">Metrix</span>
    </div>
    <div class="content gray">Create your free account</div>
    <div class="content">
        <input type="text" name="userName" placeholder="Your Full Name" />
    </div>
    <div class="content">
        <input type="email" placeholder="Your Email Address" />
    </div>
    <div class="content">
        <input type="text" *ngIf="showPassword" [(ngModel)]="password" name="password"
            placeholder="Create a Strong Password" />
        <input type="password" *ngIf="!showPassword" [(ngModel)]="password" name="password"
            placeholder="Create a Strong Password" />
        <button (click)="showPassword = !showPassword">
            <img src="../../../assets/images/showHidePassword.png" alt="" />
        </button>
    </div>
    <div class="content">
        Already have an account?<a (click)="toggleLogin.emit()" style="color:#5570f1;"> Login</a>
    </div>
    <div class="content"><button routerLink="/">Sign Up</button></div>
</div>